.cover{
    text-align: center;
    min-height: 85vh;
    margin-top: 0.1rem;
    width: 98vw;
    margin-left: auto;
    margin-right: auto;
    background: url("../../images/garuda/bg/garuda.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cover_text{
    text-align: center;
    min-height: 35vh;
    vertical-align: bottom;
    text-align: center;
    background-color: rgba(50,50,50,0.3);
    backdrop-filter: blur(10px);
}

.cover_text h1{
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 2.5rem;
    font-weight: 900;
}

.cover_text a{
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    display: inline-block;
    margin: 0.5rem 0.3rem;
}



/* ------------------------- End of Cover ----------------------------- */

.container{
    margin-top: 0.5vh;
    padding-top: 10vh;
}

.container h2{
    text-align: center;
}

.why_Garuda{
    color: black;
    background-color: white;
    padding-bottom: 10vh;
}

ol,ul{
    padding-left: 2rem;
    padding-right: 1.25rem;
}

ol li h5, ul li h5{
    font-weight: 100;
}

ol li{
    line-height: 1.25rem;
}

ul{
    list-style-type: square;
}




/* ------------------------------ End of Fetures ----------------------------- */

